{% extends 'base.html.twig' %}

{% block title %}
    Accueil -
    {{ app_name | raw }}
    -
    {{ app_tagline }}
{% endblock %}

{% block body %}

    <h2 class="fr-h2 fr-mt-2w">
        Bienvenue!
    </h2>

    <p>
        Ce site référence les différentes applications mises à votre disposition au sein du COMGEND.
    </p>

    <main class="fr-grid-row">

        <nav class="fr-accordions-group fr-col-12">

            {% for categorie in categories %}
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ loop.index }}">
                            {{ categorie.nom }}
                        </button>
                    </h3>
                    <div class="fr-collapse" id="accordion-{{ loop.index }}">

                        <ul>
                            {% for lien in categorie.liens %}
                                <li>
                                    <a rel="noopener external"  href="{{ lien.adresse }}" class="fr-link fr-link--lg">
                                    {{ lien.nom }}
                                    </a><span class="fr-ml-2w fr-icon-arrow-right-line fr-link--icon-left">&nbsp;{{ lien.libelle}}</span>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </section>
            {% endfor %}

        </nav>

    </main>

{% endblock %}
