{% extends 'base.html.twig' %}

{% block title %}
    Les sites du
    {{ app_name | raw }}
    -
    {{ app_tagline }}
{% endblock %}

{% block body %}

    <main class="grid">

        <div id="circle" class="circle"></div>
        <div class="categorie-ctnr grid">
            <div class="categorie">
                {% for categorie in categories %}
                    {# <div class="categorie-ctnr col s6 grid">
                    <div class="categorie"> #}
                    {% for lien in categorie.liens %}
                        <a id="link-{{ lien.id }}" href="{{ lien.adresse }}" class="link-ctnr col" data-before="{{ lien.nom | raw | first }}">
                            <div class="link">
                                {{ lien.nom | raw }}
                            </div>
                        </a>
                    {# <input type="hidden" class="input-data" data-label="{{ lien.nom }}" data-url="{{ lien.adresse }}" data-description="{{ lien.description }}" data-image="{{ lien.image }}" /> #}
                    {% endfor %}
                {# </div>
                </div> #}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
