{% extends 'base.html.twig' %}

{% block title %}
    Accueil -
    {{ app_name | raw }}
    -
    {{ app_tagline }}
{% endblock %}

{% block body %}

    <main class="grid">

        <div class="col logo logo-solc"></div>
        <div class="col logo logo-comgend"></div>

        <div id="circle" class="circle"></div>

        {% for categorie in categories %}
            {% for lien in categorie.liens %}
                <a id="link-{{ lien.id }}" href="{{ lien.adresse }}" class="link">
                    {{ lien.nom }}
                </a>
                <span id="hover-{{ lien.id }}" class="hover"></span>
                <input type="hidden" class="input-data" data-label="{{ lien.nom }}" data-url="{{ lien.adresse }}" data-description="{{ lien.description }}" data-image="{{ lien.image }}" />
            {% endfor %}
        {% endfor %}

    </main>
{% endblock %}
