<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>
			{% block title %}
				{{ app_name | raw }}
				-
				{{ app_tagline }}
			{% endblock %}
		</title>

		{# FAVICON #}
		{# <link	rel="apple-touch-icon"	href="/favicons/apple-touch-icon.png"> #}

		<!-- 180×180 -->
		<link
		rel="shortcut icon" href="{{ asset("/favicons/favicon.ico") }}" type="image/x-icon"> <!-- 32×32 -->
		<link rel="manifest" href="{{ asset("/favicons/site.webmanifest") }}" crossorigin="use-credentials">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<body class="container">

		<div class="hide-s bubble indigo-bubble"></div>
		<div class="hide-s bubble small-p-bubble"></div>
		<div class="hide-s bubble small-b-bubble"></div>

		<header class="header">

			<div class="hide-s bubble blue-bubble"></div>

			<div class="logo-ctnr">
				<div class="logo logo-solc"></div>
				<div class="logo logo-comgend"></div>
			</div>

			<div class="title-ctnr">
				<h1>
					COMGEND
					<span>
						Guadeloupe
					</span>
				</h1>
			</div>
		</header>

		{# BODY #}
		{% block body %}{% endblock %}
		{# fin BODY #}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>
</html>
